<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Notez Login</title>
	<link rel="stylesheet" href="output.css">
	<script src="https://kit.fontawesome.com/c23f922ef9.js" crossorigin="anonymous"></script>
</head>
<body class="bg-gradient-to-br from-amber-400 to-amber-300">
	<div class="h-screen m-auto">
		<div class="p-3 m-3 justify-center items-center inline-block border-slate-900 rounded-lg bg-slate-700 bg-opacity-60 
					transition transition-timing-function: cubic-bezier(.3,.43,.8,.58) delay-100
					hover:bg-slate-600 hover:bg-opacity-20;
					whitespace-no-wrap">
			<a href="/auth/discord"><i class="fa-brands fa-discord"></i> Sign In with Discord</a>
		</div>
		<div class="p-3 m-3 justify-center items-center inline-block border-slate-900 rounded-lg bg-slate-700 bg-opacity-60 
					transition transition-timing-function: cubic-bezier(.3,.43,.8,.58) delay-100
					hover:bg-slate-600 hover:bg-opacity-20;
					whitespace-no-wrap">
			<a href="/auth/github"><i class="fa-brands fa-github"></i> Sign In with GitHub</a>
		</div>
	</div>
</body>
</html>