<head>
	<link rel="stylesheet" href="output.css">
	<script src="https://kit.fontawesome.com/c23f922ef9.js" crossorigin="anonymous"></script>
</head>
<body class="h-screen bg-gradient-to-br from-amber-400 to-amber-300">
	<div class="p-3 m-5 border border-slate-900 rounded-lg bg-slate-700 bg-opacity-60 whitespace-no-wrap" >
		<h1>You have been logged out successfully.</h1>
	</div>
</body>