<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register for Notez</title>
	<link rel="stylesheet" href="output.css">
	<script src="https://kit.fontawesome.com/c23f922ef9.js" crossorigin="anonymous"></script>
</head>
<body class="h-screen bg-gradient-to-br from-amber-400 to-amber-300">
		<form action="/register" method="post" class="">
			<div class="p-3 m-5 border border-slate-900 rounded-lg bg-slate-700 bg-opacity-60 whitespace-no-wrap"></div>
				<span class="font-semibold">Email</span>
				<input type="email" name="username" placeholder="info@notez.net" value=""
				class="border-2 border-slate-900 bg-slate-200 py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6 ">
				<br><br>
				<span class="font-semibold">Password</span>
				<input type="password" name="password" placeholder="*************" value=""
				class="border-2 border-slate-900 bg-slate-200 py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
				<br><br>
				<span class="font-semibold">Invite Key</span>
				<input type="password" name="inviteToken" placeholder="***********" value=""
				class="border-2 border-slate-900 bg-slate-200 py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
			</div>
			<br><br><br>
			<div class="p-3 m-5 border border-slate-900 rounded-lg bg-slate-700 bg-opacity-60 whitespace-no-wrap">
				<button type="submit">Submit</button>
			</div>
		</form>
	</body>
</html>